@import url(./vars.css);

body{
    background: var(--clr-white);
    text-align: center;
}

.main-title{
    font-family: var(--ff-main);
    font-size: var(--fs-lg);
    font-weight: var(--fw-bd);
}
/* clase para el div que contiene todos los destinos */
.elements{
    display: flex;
    justify-content: space-around;
    gap: 3rem; 
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    margin: auto;
    width: clamp(100px, 55vw, 500px);
}
.destination-btn{
    margin: auto;
    text-decoration: none;
}
/* clase que continen todos los elementos de 1 solo destino */
.destination-space{
    border-radius: 1.5rem;
    box-shadow: 0rem 1rem 1rem 0rem var(--clr-black-shadow);
    display: grid;
    margin: auto;
}
/* clase del div de la imagen */
.image-div{
    height: 20.5rem;
    overflow: hidden;
    width: 19.625rem;
}
/* clase de la imagen */
.destination-image{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: block;
    width: 100%;
}
/* clase para el texto superior del destino */
.destination-text{
    color: var(--clr-purple);
    display: grid;
    font-family: var(--ff-main);
    font-weight:  var(--fw-md);
    font-size: var(--fs-md);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: .5rem 1.5rem 0;
}
.place-text{
    text-align: left;
}
.place-price{
    text-align: right;
}
/* clase para el div de la imagen y texto inferior */
.destination-days{
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0 1rem 2.2rem;
}
/* clase para el texto inferior */
.days-text{
    color: var(--clr-purple);
    font-size: var(--fs-nm);
    font-family: var(--ff-main);
    font-weight: var(--fw-md);
    margin: 0;
}

@media (max-width: 767.98px){
    .elements{
        display: grid;
        width: 80vw;
        
    }
    
}


